################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ElleChristine.API/.vs/ElleChristine.API
/src/ElleChristine.API/ElleChristine.API/obj
/src/ElleChristine.API/ElleChristine.API/bin/Debug/net6.0
/src/ElleChristine.API/.vs/ProjectEvaluation
/src/ElleChristine.API/ElleChristine.API.Data/bin/Debug/net6.0
/src/ElleChristine.API/ElleChristine.API.Data/obj
/src/ElleChristine.API/ElleChristine.API.Dtos/obj
/src/ElleChristine.API/ElleChristine.API.Dtos/bin/Debug/net6.0
/src/ElleChristine.API/ElleChristine.APi.Service/bin/Debug/net6.0
/src/ElleChristine.API/ElleChristine.APi.Service/obj
/src/ElleChristine.API/ElleChristine.API.Web/bin/Debug/net6.0
/src/ElleChristine.API/ElleChristine.API.Web/logs
/src/ElleChristine.API/ElleChristine.API.Web/Properties/launchSettings.json
/.vs
src/.vs/ElleChristine.API/FileContentIndex/88ad8105-c7b6-468b-9d95-0d817d0683f0.vsidx
/src/.vs
/src/ElleChristine.API.Data/bin
/src/ElleChristine.API.Data/obj
/src/ElleChristine.API.Dtos/bin
/src/ElleChristine.API.Dtos/obj
/src/ElleChristine.API.Web/obj
/src/ElleChristine.API.Web/bin
/src/ElleChristine.APi.Service/bin
/src/ElleChristine.APi.Service/obj


